#dropArea{
	width: 1000px;
	min-height: 800px;
	margin: 30px auto 0;
	padding: 0 20px;
	border: 2px;
    background: white;
}
#link_list {
    text-align: center;
}

ul {
  list-style-type: none;
}
#cardList{
    text-align: center;
    align-content: center;
}
#markdownIcon
{
    background-color: red ;
    align-self: center;
}